POSTGRE_CONNECT = 'Your postgres connection string'

POSTGRE_ML_CONNECT = "postgres connection string for another schema"

DATABASE_PATH = "Path to SQLite Database"

DATASET_SAVE_PATH = "Folder where raw datasets are saved"

PDATASET_SAVE_PATH = "Folder where processed datasets are saved"

MODEL_SAVE_PATH = "Folder where Models are saved"

NUMPY_SAVE_PATH = "Folder where numpy arrays are saved"

LOGS_PATH = "Folder where logs are saved"

HOME_URL = "FastAPI link"
